.selected-all-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 10px 20px;
  border-radius: 13px 13px 0 0;

  input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    transform: scale(1); 
    margin: 5px; 
  }
  .selected-all {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h4 {
    color: #50b1ff;
    font-weight: bolder;
  }

}
.shop-cart-container {
  margin: 1rem 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  .shop-cart {
    display: flex;
    align-items: center;
    

    p{
      align-self: center;
      margin-bottom: 2px;
    }

  }

  .product-cart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    height: auto;
    .wrapper-image-cart {
      width:auto;
      display: flex;
      align-items:start;
      
      input {
        margin: 0 10px;
      }
      .container-cart-2 {
        display: flex;
        height: 100%;
        gap: 24px;
        img{
          width: 100px;
          height: 100px;
        }
        p{
          margin: 0;
          font-weight: 600;
        }
      }
    }
    

    .container-cart-3 {
      display: flex;
      flex-direction: column;
      align-items: end;
      p {

        &.discount {
          font-weight: bold;
          font-size: 1rem;
          margin: 0;
        }

        &.price {
          text-decoration: line-through;
        }
      }

      .container-cart-3-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .add-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0 15px;
          .note-design {
            position: relative;
            display: flex;
            gap: 15px;
            svg {
              &.doc {
                font-size: 1.2rem;
              }

              &.pencil {
                position: absolute;
                
                top: 14px;
                left: 8px;
                font-size: 0.8rem;
                backdrop-filter: blur(10px); /* Efek blur pada latar belakang */
                z-index: 999;
              }
            }
          }
        }
      }
    }
  }
}

.card-beli {
  margin-top: 1.08rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 13px;
  padding: 2rem;

  h1 {
    font-size: 1.5rem;
  }
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1.5rem 0;

    span {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
  button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 13px;
    background-color: #50B1FF;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.7px;
  }
}

.button-plus-min{
  border: 1px solid #50B1FF;
  box-shadow: 0 0 2px #50B1FF;
  // background: #fefefe;
  border-radius: 10px;
  padding: 3px 8px;
  align-items: center;
  button{
    border: none;
    background: transparent;
    p{
      margin: 0;
      margin-top: -2px;
      font-size: large;
    }
  }
}

.not-cart{
  padding: 20px;
  background: #fff;
  .goto{
    display: flex;
    flex-direction: column;
    // align-items: start;
    gap: 0 20px;
    p{
      margin: 0
    };
  button{
    width: auto;
    height: 10px;
    border: none;
    background: transparent;
    color: rgb(1, 88, 129);
    font-weight: bold;
  }}

}