@import "../variable";

nav {
  margin: 10px 0 ;
  width: 100%;
  
  &.main {
    // margin: 10px;
    padding: 10px 50px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: fixed;
    background: whitesmoke;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.navbar-top {
        justify-content: right;
        gap: 0 10px;
        margin: 5px 0;
        a {
          color: #000;
          
        }
      }
      &.navbar-bottom {
        .logo-webiste {
          width: 200px;
          height: 100px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .search-input {
          width: 100%;
          margin: 0 0.5%;
          form {
            display: flex;
            align-items: center;
            position: relative;
            button {
              position: absolute;
              margin: 0 20px;
              background-color: $transparent-color;
              border: none;
              border-right: 2px solid white;
              
            }
            input {
              width: 100%;
              padding: 10px 20px 10px 80px;
            }
          }
        }
        .cart{
          margin: 0 2.5%;
          font-size: 1.5rem;
          align-items: center;
        }
        button {
          background-color: $transparent-color;
          border: none;
        }

        .auth {
          // background-color: red;
          display: flex;
          gap: 0 10px;
          border-left: 1px solid rgb(10, 10,10,.5);
          padding: 0.5% 1.5%;
          button{
            border-radius: 5px;
            padding: 5px 10px;
            &:hover{
              background: transparent;
            }
          }
          .active {
            background-color: green;
            border: 2px solid green;
          }
          // .signin {
          //   background-color: #000;

          .login {
            background-color: red;
            border: 2px solid red;
          }
          // }
        }
        
      }
    }
  }
}