.card {
  position: relative;
  width: 100%;
  margin: 12px 0;
  &:hover{
    // position: absolute;
    left: -5%;
    top:-2.5%;
    width: 110%;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 5px rgb(80, 177, 255,0.5);
  }
  img{
    box-shadow:0px 2px 2px -1px #50B1FF;
  }
  .card-body {
    // box-shadow:0px -1px 0.5px#50B1FF;
    .h5 {
      height: 48px;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-text {
      display: flex;
      flex-direction: column;

      p {
        text-decoration: line-through;
        font-size: 0.8rem;
      }
    }
  }
}

.product {
  background: #fafafa;
  margin-top: 100px;
  padding-left: 15px;
  .info-product {
    padding: 15px;
    
    .real-price {
      text-decoration: line-through;

    }
  }

  .img-product {
    width: 100%;
    height: 550px;
    border-radius: 5px;
  }
  .add-note{
    margin-top: -65px;
    padding: 0 5px;
  }
}

.container-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(109, 188, 252);
  padding: 0 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  .card-cart {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 50px;
      border-radius: 100%;
      margin: 10px;
    }

    h3 {
      width: 200px;
      // text-overflow: ellipsis;
      // overflow: hidden;
      white-space: nowrap;
    }
  }


  .subtotal {
    align-self: center;
    p {
      margin: 0;
      padding: 0;
    }


  }

  button {
    margin: 5px;
    border: none;
    align-items: center;
  }

  // .add-item {}

  .bought-btn {
    display: flex;
    align-items: center;
    h4{
      margin: 0 12px;
    }
    button {
      border: 1px solid white;
      border-radius: 5px;
      background-color: white;
      color: #50B1FF;
      font-weight: bold;
      padding: 2px 8px;
      &.keranjang{
        background: #50B1FF;
        color: white;
        &:hover {
          border: 1px solid #38db5e;
          background: white;
          color: #38db5e;
        }
      }
      &:hover {
        background: #38db5e;
        color: white;
      }
    }
  }

}
.container-toko{
  background: white;
  padding: 24px 12px;
  img{
    width: 100px;
  }
.toko {
  display: flex;
  gap: 12px;

  width: 100%;
  
  .container-shop-identity {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .go{
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      gap: 12px;
      button{
        border: 1px solid #50B1FF;
        border-radius: 5px;
        padding: 5px 16px;
        &.chat{
          background: transparent;
          color: #50B1FF;
        }
        &.kunjungi{
          background: #50B1FF;
          color: white;
        }

      }
    }
  }
}}