.card {
  width: 100%;
  margin: 12px 0;
  .card-body {
    .h5{
      height: 48px;
      display: -webkit-box;
			line-clamp: 2;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
    }
    .card-text {
      display: flex;
      flex-direction: column;
      
      p {
        text-decoration: line-through;
        font-size: 0.8rem;
      }
    }
  }
  
}